

.n{
    background-color: black;
  
    
}
.n{
    overflow: auto;
}
.n li{
    float:right;
    list-style: none; 
    margin: 13px 20px;
    
}
.n li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.n li a:hover{
    color: red
}


.left{
    width: 48vh;
    float: left;
    padding: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    margin-right: 1rem;
   
}
.right{
    font-size: 1.4rem;
    width:50%;
    float: right;
    background-color: rgb(230, 224, 224);
    height: 5000px;
    padding: 0.5rem;
    font-size: 1.3rem;
}
a{
    text-decoration: none;
}
.bell{
    margin-right: 2rem;
}
.navbar{
    padding: 0.6rem;
    background-color: rgb(102, 102, 168);
    color: white;
}
.logo{
    max-width: 90px;
    
}